POSTGRES_DB=awface
POSTGRES_USER=postgres
POSTGRES_PASSWORD=assinaweb
POSTGRES_PORT=5432

AWFACE_FRONT_PORT=8080
AWFACE_API_PORT=5000
AWFACE_FRONTEND_BASE_URL=http://localhost:8080
AWFACE_LIVENESS_APPKEY_LIFETIME_MINUTES=20
AWFACE_LIVENESS_ENGINE=V10
AWFACE_HOMOLOGATION_ACCEPT_NON_PROCESSED_RESULT=false
AWFACE_FACE_STORAGE_ROOT_PATH=/app/storage/faces
AWFACE_FACE_STORAGE_ENCRYPTION_KEY=troque-esta-chave-em-producao

AWFACE_ADMIN_EMAIL=tecnico@integral.com.br
AWFACE_ADMIN_PASSWORD=Intsis@1999

CERTIFACE_BASE_URL=https://hml.certiface.com.br
CERTIFACE_RESULT_BASE_URL=https://hml.certiface.com.br:8443

ASPNETCORE_ENVIRONMENT=Production
TZ=America/Sao_Paulo
